.fbox3 > div[class*="col"] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.rounded-circle {
  border-radius: 50%!important;
}

.rounded-circle {
  border-radius: 50%!important;
}

.rounded-circle {
  border-radius: 50%!important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

