@media screen and (max-width: 769px) {
  #sambutanbung {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
  }
}

.mempelai {
  background-size: cover;
  padding: 2.5rem;
  width: 500px;
  height: 500px;
}

@media (max-width: 576px) {
  .mempelai {
    background-size: cover;
    padding: 1rem;
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 576px) {
  h5 {
    font-size: 30px;
  }
}

@media (min-width: 577px) {
  h5 {
    font-size: 40px;
  }
}

@media (min-width: 577px) {
  #photo-anak {
    width: 50vw;
  }
}

@media (min-width: 576px) {
  .border-pengantar {
    padding-right: 20%;
    padding-left: 20%;
  }
}

@media (min-width: 577px) {
  .judul {
    font-size: 75px;
  }
}

@media (max-width: 576px) {
  .judul {
    font-size: 50px;
  }
}

